<center>
<img src="img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Написав решение, сделайте коммит в свою ветвь.**

### УБЕДИТЕСЬ, ЧТО ВЕТКА ВАША! Запустите клетку ниже, чтобы посмотреть на какой ветке вы находитесь

In [1]:
!git branch

  master
* petrovegor

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [4]:
data.groupby('sex').size()

sex
Female    10771
Male      21790
dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [5]:
data[data['sex']=='Female']['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [6]:
len(data[data['native-country']=='Germany'])/len(data)

0.004207487485028101

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [7]:
print("Средние значения возраста тех, кто получает менее 50 в год",data[data['salary']=='<=50K']['age'].mean(),"и среднеквадратичные отклонения",data[data['salary']=='<=50K']['age'].std())
print("Средние значения возраста тех, кто получает более 50 в год",data[data['salary']=='>50K']['age'].mean(),"и среднеквадратичные отклонения",data[data['salary']=='>50K']['age'].std())

Средние значения возраста тех, кто получает менее 50 в год 36.78373786407767 и среднеквадратичные отклонения 14.02008849082488
Средние значения возраста тех, кто получает более 50 в год 44.24984058155847 и среднеквадратичные отклонения 10.519027719851826

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [8]:
data[((data['education']=='Bachelors') | (data['education']=='Prof-school') | (data['education']=='Assoc-acdm') | (data['education']=='Assoc-voc') | (data['education']=='Masters') | (data['education']=='Doctorate')) & (data['salary']=='<=50K')]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [9]:
print("Статистика возраста по расам (признак *race*) и полам \n",
data.groupby('race')['age'].describe(),
"\nМаксимальный возраст мужчин расы Amer-Indian-Eskimo = ",
data.groupby('race')['age'].describe()['max']['Amer-Indian-Eskimo'])

Статистика возраста по расам (признак *race*) и полам
                       count       mean        std   min   25%   50%   75%  \
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                     max
race
Amer-Indian-Eskimo  82.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0
Максимальный возраст мужчин расы Amer-Indian-Eskimo =  82.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [51]:
print('Много зарабатывает '+str(len(data[data['salary']=='>50K'][data['sex']=='Male']['marital-status'].str.startswith('Married')))+' - среди женатых')
print('Много зарабатывает '+str(len(data[data['salary']=='>50K'][data['sex']=='Male'])-len(data[data['salary']=='>50K'][data['sex']=='Male']['marital-status'].str.startswith('Married')))+' - среди холостых')

Много зарабатывает 6662 - среди женатых
Много зарабатывает 0 - среди холостых

c:\users\egor\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
c:\users\egor\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [12]:
print("Максимальное число часов человек работает в неделю \n",
data['hours-per-week'].max(),
"\nРаботает столько часов - ",
len(data[data['hours-per-week']==99]),
     "\nИз них получает много - ",
len(data[data['salary']=='>50K'][data['hours-per-week']==99])/len(data[data['salary']=='<=50K'][data['hours-per-week']==99])*100,
     '%')

Максимальное число часов человек работает в неделю
 99
Работает столько часов -  85
Из них получает много -  41.66666666666667 %

c:\users\egor\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [31]:
data[data['salary']=='>50K'].groupby('native-country').describe()
data[data['salary']=='<=50K'].groupby('native-country').describe()

                                age                                           \
                              count       mean        std   min    25%   50%
native-country
?                             437.0  36.853547  12.532401  17.0  28.00  35.0
Cambodia                       12.0  35.666667  12.404789  18.0  27.75  34.5
Canada                         82.0  41.012195  16.507009  17.0  27.00  38.0
China                          55.0  41.800000  12.693539  22.0  33.00  40.0
Columbia                       57.0  39.228070  13.431064  18.0  28.00  36.0
Cuba                           70.0  47.285714  14.323532  21.0  37.25  47.0
Dominican-Republic             68.0  37.941176  13.148841  18.0  26.00  39.0
Ecuador                        24.0  34.833333  11.051920  21.0  28.00  31.0
El-Salvador                    97.0  32.649485  11.141179  17.0  24.00  29.0
England                        60.0  38.966667  14.229316  17.0  28.75  35.0
France                         17.0  38.117647  12.608937  20.0  29.00  34.0
Germany                        93.0  36.817204  12.968982  18.0  28.00  33.0
Greece                         21.0  44.666667  13.986899  22.0  32.00  49.0
Guatemala                      61.0  32.262295  11.480275  19.0  25.00  28.0
Haiti                          40.0  37.300000  12.275053  17.0  28.00  36.0
Holand-Netherlands              1.0  32.000000        NaN  32.0  32.00  32.0
Honduras                       12.0  32.750000  11.402751  18.0  27.50  30.5
Hong                           14.0  34.571429  10.419761  19.0  27.25  33.0
Hungary                        10.0  47.000000  19.759667  24.0  28.50  48.0
India                          60.0  35.733333  11.453468  17.0  27.00  32.0
Iran                           25.0  38.120000  11.380978  22.0  30.00  37.0
Ireland                        19.0  34.578947   9.412260  23.0  29.50  32.0
Italy                          48.0  44.375000  14.329890  19.0  32.00  46.5
Jamaica                        71.0  34.676056  11.483870  18.0  25.50  32.0
Japan                          38.0  35.315789   9.392652  19.0  29.00  34.0
Laos                           16.0  33.937500  11.767009  19.0  26.25  29.5
Mexico                        610.0  32.901639  10.795464  17.0  25.00  31.0
Nicaragua                      32.0  33.593750  11.842677  19.0  25.75  32.0
Outlying-US(Guam-USVI-etc)     14.0  38.714286  14.541339  21.0  26.75  35.5
Peru                           29.0  35.379310  13.641883  17.0  24.00  35.0
Philippines                   137.0  37.978102  14.241337  17.0  27.00  35.0
Poland                         48.0  41.250000  14.841718  17.0  29.75  39.5
Portugal                       33.0  40.333333  14.681337  19.0  29.00  38.0
Puerto-Rico                   102.0  39.803922  13.211186  17.0  30.00  40.0
Scotland                        9.0  36.333333  11.575837  18.0  29.00  38.0
South                          64.0  37.218750  15.362776  19.0  25.50  33.0
Taiwan                         31.0  29.322581   6.808755  20.0  25.00  29.0
Thailand                       15.0  35.400000  11.836988  19.0  25.00  33.0
Trinadad&Tobago                17.0  41.176471  10.284912  17.0  35.00  42.0
United-States               21999.0  36.816719  14.145435  17.0  25.00  34.0
Vietnam                        62.0  33.951613  13.724965  19.0  23.00  30.0
Yugoslavia                     10.0  38.000000  13.072448  20.0  26.50  41.0

                                          fnlwgt                 ...  \
                              75%   max    count           mean  ...
native-country                                                   ...
?                           43.00  90.0    437.0  195354.379863  ...
Cambodia                    37.75  65.0     12.0  167065.666667  ...
Canada                      53.00  80.0     82.0  169279.585366  ...
China                       51.00  75.0     55.0  175689.181818  ...
Columbia                    49.00  75.0     57.0  223105.157895  ...
Cuba                        57.00  82.0     70.0  243906.228571  ...
Dominican-Republic          48.00  78.0     68.0  191262.014706  ...
Ecuador                     42.50  67.0     24.0  188597.166667  ...
El-Salvador                 40.00  63.0     97.0  264114.123711  ...
England                     48.25  73.0     60.0  185459.400000  ...
France                      45.00  64.0     17.0  205851.588235  ...
Germany                     45.00  71.0     93.0  184968.236559  ...
Greece                      54.00  65.0     21.0  151661.285714  ...
Guatemala                   37.00  66.0     61.0  266016.016393  ...
Haiti                       45.75  63.0     40.0  209238.125000  ...
Holand-Netherlands          32.00  32.0      1.0   27882.000000  ...
Honduras                    37.25  58.0     12.0  272571.000000  ...
Hong                        37.00  60.0     14.0  191441.571429  ...
Hungary                     62.25  81.0     10.0  182993.800000  ...
India                       46.00  61.0     60.0  171203.466667  ...
Iran                        43.00  62.0     25.0  184160.240000  ...
Ireland                     37.50  55.0     19.0  138620.157895  ...
Italy                       56.25  69.0     48.0  179759.375000  ...
Jamaica                     41.50  65.0     71.0  212218.239437  ...
Japan                       41.00  61.0     38.0  197242.526316  ...
Laos                        42.50  56.0     16.0  209838.187500  ...
Mexico                      39.00  81.0    610.0  289038.116393  ...
Nicaragua                   41.25  67.0     32.0  287987.906250  ...
Outlying-US(Guam-USVI-etc)  47.00  63.0     14.0  204487.785714  ...
Peru                        44.00  69.0     29.0  271800.517241  ...
Philippines                 46.00  90.0    137.0  160747.970803  ...
Poland                      48.25  85.0     48.0  185051.479167  ...
Portugal                    49.00  78.0     33.0  153666.939394  ...
Puerto-Rico                 47.00  90.0    102.0  200316.009804  ...
Scotland                    42.00  53.0      9.0  155825.888889  ...
South                       47.25  90.0     64.0  164191.921875  ...
Taiwan                      30.50  51.0     31.0  181981.290323  ...
Thailand                    45.50  55.0     15.0  181043.200000  ...
Trinadad&Tobago             46.00  61.0     17.0  218778.941176  ...
United-States               46.00  90.0  21999.0  186950.051730  ...
Vietnam                     43.75  73.0     62.0  165028.725806  ...
Yugoslavia                  44.50  56.0     10.0  227306.800000  ...

                           capital-loss         hours-per-week             \
                                    75%     max          count       mean
native-country
?                                   0.0  2339.0          437.0  40.164760
Cambodia                            0.0  1876.0           12.0  41.416667
Canada                              0.0  2339.0           82.0  37.914634
China                               0.0  2057.0           55.0  37.381818
Columbia                            0.0  1602.0           57.0  38.684211
Cuba                                0.0  1380.0           70.0  37.985714
Dominican-Republic                  0.0  1762.0           68.0  42.338235
Ecuador                             0.0     0.0           24.0  38.041667
El-Salvador                         0.0  1719.0           97.0  36.030928
England                             0.0  2002.0           60.0  40.483333
France                              0.0     0.0           17.0  41.058824
Germany                             0.0  1092.0           93.0  39.139785
Greece                              0.0  2603.0           21.0  41.809524
Guatemala                           0.0  1594.0           61.0  39.360656
Haiti                               0.0  1740.0           40.0  36.325000
Holand-Netherlands               2205.0  2205.0            1.0  40.000000
Honduras                            0.0     0.0           12.0  34.333333
Hong                                0.0     0.0           14.0  39.142857
Hungary                             0.0  1668.0           10.0  31.300000
India                               0.0  1579.0           60.0  38.233333
Iran                                0.0  2002.0           25.0  41.440000
Ireland                             0.0     0.0           19.0  40.947368
Italy                               0.0     0.0           48.0  39.625000
Jamaica                             0.0     0.0           71.0  38.239437
Japan                               0.0  1590.0           38.0  41.000000
Laos                                0.0     0.0           16.0  40.375000
Mexico                              0.0  2603.0          610.0  40.003279
Nicaragua                           0.0  1579.0           32.0  36.093750
Outlying-US(Guam-USVI-etc)          0.0     0.0           14.0  41.857143
Peru                                0.0     0.0           29.0  35.068966
Philippines                         0.0  2258.0          137.0  38.065693
Poland                              0.0  2051.0           48.0  38.166667
Portugal                            0.0     0.0           33.0  41.939394
Puerto-Rico                         0.0  2179.0          102.0  38.470588
Scotland                            0.0     0.0            9.0  39.444444
South                               0.0  2258.0           64.0  40.156250
Taiwan                              0.0  1602.0           31.0  33.774194
Thailand                            0.0     0.0           15.0  42.866667
Trinadad&Tobago                     0.0  2339.0           17.0  37.058824
United-States                       0.0  4356.0        21999.0  38.799127
Vietnam                             0.0  2457.0           62.0  37.193548
Yugoslavia                          0.0     0.0           10.0  41.600000


                                  std   min    25%   50%    75%   max
native-country
?                           12.817002   1.0  40.00  40.0  45.00  99.0
Cambodia                     3.088346  40.0  40.00  40.0  40.50  50.0
Canada                      13.012056   8.0  32.75  40.0  40.00  70.0
China                       11.439844   1.0  36.00  40.0  40.00  60.0
Columbia                     8.610952   5.0  40.00  40.0  40.00  60.0
Cuba                         9.960055   5.0  40.00  40.0  40.00  70.0
Dominican-Republic          11.121594  22.0  40.00  40.0  40.00  98.0
Ecuador                     10.251105  22.0  30.00  40.0  40.00  66.0
El-Salvador                  9.396867   3.0  32.00  40.0  40.00  60.0
England                     15.177472   7.0  40.00  40.0  45.00  99.0
France                      12.401969  15.0  40.00  40.0  50.00  66.0
Germany                     12.121299   6.0  38.00  40.0  45.00  70.0
Greece                      16.857103   4.0  40.00  40.0  55.00  75.0
Guatemala                    6.570218  18.0  40.00  40.0  40.00  60.0
Haiti                       11.943000  10.0  30.00  40.0  40.00  75.0
Holand-Netherlands                NaN  40.0  40.00  40.0  40.00  40.0
Honduras                     8.626949  17.0  30.00  37.5  40.00  45.0
Hong                         4.294131  30.0  37.75  40.0  40.00  50.0
Hungary                     18.595400   3.0  20.00  30.0  47.50  60.0
India                       12.617403   8.0  35.00  40.0  40.00  84.0
Iran                        12.440123   6.0  40.00  40.0  48.00  65.0
Ireland                      7.183884  25.0  38.00  40.0  42.00  55.0
Italy                       15.090683   6.0  38.75  40.0  40.00  80.0
Jamaica                      9.673919  10.0  35.00  40.0  40.00  70.0
Japan                       11.902759  10.0  40.00  40.0  41.50  65.0
Laos                         4.112988  31.0  40.00  40.0  40.00  50.0
Mexico                      10.377441   4.0  40.00  40.0  40.00  99.0
Nicaragua                    8.663454  11.0  30.00  40.0  40.00  60.0
Outlying-US(Guam-USVI-etc)  10.747859  24.0  36.25  40.0  50.25  60.0
Peru                        11.609513   4.0  28.00  40.0  40.00  60.0
Philippines                 11.265646   8.0  40.00  40.0  40.00  99.0
Poland                      12.237600   3.0  40.00  40.0  40.00  65.0
Portugal                     9.062075  30.0  40.00  40.0  40.00  84.0
Puerto-Rico                  9.745988   6.0  36.00  40.0  40.00  80.0
Scotland                     9.166667  20.0  40.00  40.0  40.00  55.0
South                       16.831771   4.0  35.00  40.0  48.50  99.0
Taiwan                      14.270505   2.0  20.00  40.0  40.00  60.0
Thailand                    20.413114  10.0  35.00  40.0  52.50  80.0
Trinadad&Tobago             12.477332  14.0  35.00  40.0  40.00  60.0
United-States               12.400570   1.0  35.00  40.0  40.00  99.0
Vietnam                     12.422664   1.0  40.00  40.0  40.00  77.0
Yugoslavia                  11.305849  20.0  40.00  40.0  40.00  66.0

[42 rows x 48 columns]